# Flutter/Dart
.dart_tool/
.packages
build/

# IDE files
.idea/
*.iml
.metadata

# Log files
*.log
context/

.docs/
conductor/product.md
conductor/tech-stack.md
conductor/tracks.md
conductor/tracks/
coverage/

.vscode/settings.json